* {
    font-family: '標楷體';
    margin: 0;
}
body {
    width: 770px;
    height: 620px;
    margin: 0px auto;
    text-align: center;
    background-image: url(../images/0101.jpg);
}
h3 {
    font-size: 18px;
    color: #ff0000;
}
table{
    width: 770px;
    margin: 0 auto;
    border: none;
}
table > td{
    text-align: center;
}
.header{
    color:#800000;
    font-size: 16px;
    text-align: left;
}
#Block1{
    color:#0000ff; 
    font-size: 16px; 
    text-align: left;
} 
#Block2{
    color:#ff0000; 
    font-size: 16px; 
    text-align: left;
} 
#Block3{
    color:#00ff00; 
     font-size: 16px; 
     text-align: left;
} 
#Block4{
    color:#000000; 
    font-size: 16px; 
    text-align: left;
} 